<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sh.ideal.dao.IFunctionDao" >
  
  <resultMap id="BaseResultMap" type="cn.sh.ideal.model.Function" >
    <result column="FUNCTION_ID" property="functionId" jdbcType="INTEGER" />
    <result column="FUNCTION_TYPE" property="functionType" jdbcType="VARCHAR" />
    <result column="IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
    <result column="PID" property="pId" jdbcType="INTEGER" />
    <result column="FUNCTION_NAME" property="funtionName" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="FUNCTION_ORDER" property="functionOrder" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
     FUNCTION_ID,
	 FUNCTION_TYPE,
	 IMG_URL,
	 PID,
	 FUNCTION_NAME,
	 URL,
	 FUNCTION_ORDER
  </sql>
  
  <select id="getFunction" resultMap="BaseResultMap" parameterType="cn.sh.ideal.model.Function">
    select 
    <include refid="Base_Column_List" />
    from t_sys_function
    where  1=1  and ENABLED='1'
     <if test="pId != null and pId!=''" >
      and  PID = #{pId,jdbcType=INTEGER}
      </if>
      <if test="functionType != null and functionType !='' " >
        and  FUNCTION_TYPE=#{functionType,jdbcType=VARCHAR}
      </if> 
      <if test="code != null and code !='' " >
        and PID=(select FUNCTION_ID from t_sys_function where  1=1  and ENABLED='1' and CODE=#{code,jdbcType=VARCHAR})
      </if> 
      ORDER BY FUNCTION_ORDER
  </select>
  
   <select id="getFunctionByUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT  <include refid="Base_Column_List" />
		FROM t_sys_function
		WHERE
			FUNCTION_ID IN (
				SELECT DISTINCT
					(f.PID)
				FROM
					t_sys_roleuser t,
					t_sys_rolefunction t1,
					t_sys_function f
				WHERE
					t.ROLE_ID = t1.ROLE_ID
				AND t1.FUNCTION_ID = f.FUNCTION_ID
				AND t.ENABLED = '1'
				AND t1.ENABLED = '1'
				AND f.ENABLED = '1'
				AND t.USER_ID = #{userId,jdbcType=INTEGER}
			) and ENABLED='1' ORDER BY FUNCTION_ORDER
  </select>
  
    
   <select id="getChildFunByParam" resultMap="BaseResultMap" >
        SELECT  <include refid="Base_Column_List" />
		FROM t_sys_function WHERE FUNCTION_ID in (
		SELECT DISTINCT(f.FUNCTION_ID)
		FROM
			t_sys_roleuser t,
			t_sys_rolefunction t1,
			t_sys_function f
		WHERE
			t.ROLE_ID = t1.ROLE_ID
		AND t1.FUNCTION_ID = f.FUNCTION_ID
		AND t.ENABLED = '1'
		AND t1.ENABLED = '1'
		AND f.ENABLED = '1'
		AND t.USER_ID = #{userId,jdbcType=INTEGER}
and pid!='0') and pid=#{pId,jdbcType=INTEGER} and ENABLED='1' ORDER BY FUNCTION_ORDER
  </select>
  
     <select id="getsubFunctionByUserid" resultType="java.lang.String" >
        SELECT f.URL url
		FROM
			t_sys_roleuser t,
			t_sys_rolefunction t1,
			t_sys_function f
		WHERE
			t.ROLE_ID = t1.ROLE_ID
		AND t1.FUNCTION_ID = f.FUNCTION_ID
		AND t.ENABLED = '1'
		AND t1.ENABLED = '1'
		AND f.ENABLED = '1'
		and f.pid !='0'
		AND t.USER_ID = #{userId,jdbcType=INTEGER}
      </select>
</mapper>