<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.ISysRoleDao">
	<resultMap id="BaseResultMap" type="cn.sh.ideal.model.SysRole">
		<id column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
		<result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
		<result column="ROLE_FLAG" jdbcType="VARCHAR" property="roleFlag" />
		<result column="IS_DISPLAY" jdbcType="VARCHAR" property="isDisplay" />
		<result column="ENABLED" jdbcType="VARCHAR" property="enabled" />
		<result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UPDATE_USER_ID" jdbcType="INTEGER" property="updateUserId" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
		<result column="systemName" jdbcType="VARCHAR" property="systemName" />
		<result column="PID" jdbcType="VARCHAR" property="pid" />
		<result column="ROLE_CODE" jdbcType="VARCHAR" property="code" />
	</resultMap>

	<resultMap id="BaseResultMap2" type="cn.sh.ideal.model.SysRole">
		<id column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
		<result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
		<result column="ROLE_FLAG" jdbcType="VARCHAR" property="roleFlag" />
		<result column="IS_DISPLAY" jdbcType="VARCHAR" property="isDisplay" />
	</resultMap>


	<resultMap id="BaseResultMap3" type="cn.sh.ideal.model.SysRole">
		<id column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
		<result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
		<result column="PID" jdbcType="VARCHAR" property="pid" />
		<result column="ROLE_CODE" jdbcType="VARCHAR" property="code" />
	</resultMap>


	<sql id="Base_Column_List">
		ROLE_ID, ROLE_NAME, ROLE_FLAG, IS_DISPLAY, ENABLED, CREATE_USER_ID,PID,ROLE_CODE,
		date_format(CREATE_TIME,'%Y-%m-%d %H:%i:%s') CREATE_TIME,
		REMARK
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_role
		where ROLE_ID = #{roleId,jdbcType=INTEGER}
		and ENABLED='1'
	</select>
	
	
	<select id="queryRoleByCode" parameterType="java.lang.String" resultMap="BaseResultMap3">
	      select ROLE_ID, ROLE_NAME,PID from t_sys_role r where r.ENABLED='1' 
	      and r.PID in( select  t.ROLE_ID from t_sys_role t where t.ENABLED='1' and t.ROLE_CODE=#{code,jdbcType=VARCHAR})
	</select>
	

	<select id="selectList" parameterType="cn.sh.ideal.model.SysRole"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_role
		where 1=1 and IS_DISPLAY='1' and ENABLED='1'

		<if test="roleName != null and roleName!=''">
			and ROLE_NAME = #{roleName,jdbcType=VARCHAR}
		</if>
		<if test="remark != null and remark!=''">
			and REMARK = #{remark,jdbcType=VARCHAR}
		</if>
		order by CREATE_TIME desc
	</select>

	<select id="selectRoleByUserId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap2">
		SELECT
		r.ROLE_ID,
		r.ROLE_FLAG,
		r.ROLE_NAME
		FROM
		t_sys_roleuser t,
		t_sys_role r
		WHERE
		t.ROLE_ID = r.ROLE_ID
		AND t.ENABLED = '1'
		AND r.ENABLED = '1'
		AND t.USER_ID = #{userId,jdbcType=INTEGER}

	</select>

	<!-- 查询父节点 by niewenqiang -->
	<select id="queryParentRole" resultMap="BaseResultMap3">
		SELECT
		r.ROLE_ID,
		r.PID,
		r.ROLE_NAME,
		r.ROLE_CODE
		FROM
		t_sys_role r
		WHERE
		r.ENABLED = '1'
		AND r.IS_DISPLAY='1' 
		AND r.pid='0'
		order by r.ROLE_ID
	</select>


    <!-- 根据父节点ID查询子类信息 by niewenqiang -->
	<select id="queryChildRole" resultMap="BaseResultMap3" parameterType="java.lang.Integer">
		SELECT
		r.ROLE_ID,
		r.PID,
		r.ROLE_NAME
		FROM
		t_sys_role r
		WHERE
		r.ENABLED = '1'
		AND r.IS_DISPLAY='1' 
		AND r.pid=#{parentId}
		order by r.ROLE_ID
	</select>

    <!-- 根据用户ID查询该用户拥有的角色 niewenqiang -->
	<select id="queryRoleByUserId" resultMap="BaseResultMap3" parameterType="java.lang.Integer">
		SELECT
		t.ROLE_ID from t_sys_roleuser t
		where  t.ENABLED = '1'
		AND t.USER_ID = #{userId,jdbcType=INTEGER}
	</select>
	
	
	<select id="selectCount" parameterType="cn.sh.ideal.model.SysRole"
		resultType="java.lang.Integer">
		select
		count(1)
		from t_sys_role
		where 1=1 and IS_DISPLAY='1' and ENABLED='1'

		<if test="roleName != null and roleName!=''">
			and ROLE_NAME = #{roleName,jdbcType=VARCHAR}
		</if>
		<if test="remark != null and remark!=''">
			and REMARK = #{remark,jdbcType=VARCHAR}
		</if>
	</select>


	<insert id="insert" parameterType="cn.sh.ideal.model.SysRole"
		useGeneratedKeys="true" keyProperty="roleId">
		insert into t_sys_role ( ROLE_NAME, ROLE_FLAG,PID,
		IS_DISPLAY, ENABLED, CREATE_USER_ID,
		CREATE_TIME
		)
		values ( #{roleName,jdbcType=VARCHAR}, #{roleFlag},${pid} ,
		'1', '1', #{createUserId,jdbcType=INTEGER},
		now()
		)
	</insert>


	<update id="updateByPrimaryKey" parameterType="cn.sh.ideal.model.SysRole">
		update t_sys_role
		set UPDATE_TIME = now()
		<if test="roleName != null and roleName!=''">
			,ROLE_NAME = #{roleName,jdbcType=VARCHAR}
		</if>
		<if test="roleFlag != null and roleFlag!=''">
			,ROLE_FLAG = #{roleFlag,jdbcType=VARCHAR}
		</if>
		<if test="enabled != null and enabled!=''">
			,ENABLED = #{enabled,jdbcType=VARCHAR}
		</if>
		,UPDATE_USER_ID = #{updateUserId,jdbcType=INTEGER}

		where ROLE_ID = #{roleId,jdbcType=INTEGER}
	</update>
	
	<select id="queryRoleList" parameterType="cn.sh.ideal.model.SysRole"
		resultMap="BaseResultMap">
		select
		ROLE_ID, ROLE_NAME, 
		(SELECT t.name FROM t_sys_code t where t.IS_USED='1' and t.IS_DISPLAY='1' and t.VALUEES=ROLE_FLAG) as ROLE_FLAG,
		date_format(CREATE_TIME,'%Y-%m-%d %H:%i:%s') CREATE_TIME,
		(select ROLE_NAME from t_sys_role where ROLE_ID=r.PID) as systemName
		from t_sys_role r
		where 1=1 and r.IS_DISPLAY='1' and r.ENABLED='1'
		AND R.ROLE_CODE IS NULL
		<if test="roleName != null and roleName !=''">
			and r.ROLE_NAME = #{roleName,jdbcType=VARCHAR}
		</if>
		<if test="roleFlag != null and roleFlag !=''">
			and r.ROLE_FLAG = #{roleFlag,jdbcType=VARCHAR}
		</if>
		<if test="system != null and system !=''">
			and r.PID in (select ROLE_ID from t_sys_role where  IS_DISPLAY='1' and ENABLED='1' and ROLE_CODE=#{system,jdbcType=VARCHAR}) 
		</if>
		order by CREATE_TIME desc
	</select>
	
	
	<select id="queryRoleListCount" parameterType="cn.sh.ideal.model.SysRole"
		resultType="java.lang.Integer">
		select
		count(0)
		from t_sys_role
		where 1=1 and IS_DISPLAY='1' and ENABLED='1'
		AND ROLE_CODE IS NULL
		<if test="roleName != null and roleName !=''">
			and ROLE_NAME = #{roleName,jdbcType=VARCHAR}
		</if>
		<if test="roleFlag != null and roleFlag !=''">
			and ROLE_FLAG = #{roleFlag,jdbcType=VARCHAR}
		</if>
		<if test="system != null and system !=''">
			and PID in (select ROLE_ID from t_sys_role where  IS_DISPLAY='1' and ENABLED='1' and ROLE_CODE=#{system,jdbcType=VARCHAR}) 
		</if>
	</select>
	
	
	<select id="queryRoleIdByCode" parameterType="java.lang.String" resultType="java.lang.Integer">
	    select ROLE_ID from t_sys_role where  IS_DISPLAY='1' and ENABLED='1' and ROLE_CODE=#{code,jdbcType=VARCHAR}
	</select>


    <select id="checkRoleName" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(0) from t_sys_role where  IS_DISPLAY='1' and ENABLED='1' 
        and ROLE_NAME=#{roleName}
        <if test="roleId != null and roleId !=''">
			and ROLE_ID != ${roleId}
		</if>
    </select>
    
    
    <select id="queryRoleIsUsed" parameterType="java.lang.Integer" resultType="java.lang.Integer">
         select count(*) from t_sys_roleuser where ENABLED='1' and ROLE_ID = #{roleId,jdbcType=INTEGER}
    </select>
</mapper>