<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.ISysRoleUserDao">
  <resultMap id="BaseResultMap" type="cn.sh.ideal.model.SysRoleUser">
    <id column="AUTO_ID" jdbcType="INTEGER" property="autoId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="ENABLED" jdbcType="VARCHAR" property="enabled" />
    <result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER_ID" jdbcType="INTEGER" property="updateUserId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    AUTO_ID, USER_ID, ROLE_ID, ENABLED, CREATE_USER_ID, CREATE_TIME, UPDATE_USER_ID, 
    UPDATE_TIME
  </sql>
<!--   <select id="selectByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_roleuser
    where ENABLED='1' and ROLE_ID = #{roleId,jdbcType=INTEGER}
  </select> -->
 <!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_roleuser
    where AUTO_ID = #{autoId,jdbcType=INTEGER}
  </delete> -->
  <insert id="insertUserRole" parameterType="cn.sh.ideal.model.SysRoleUser">
    insert into t_sys_roleuser ( USER_ID,ROLE_ID, 
      ENABLED,  CREATE_TIME)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{enabled,jdbcType=VARCHAR}, now()
      )
  </insert>
  
</mapper>