<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.IUserDao">
	<resultMap type="cn.sh.ideal.model.UserInfo" id="BaseResultMap">
		<id column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="WORK_ID" property="workId" jdbcType="VARCHAR" />
		<result column="PASSWD" property="passwd" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="cn.sh.ideal.model.Notice" id="NoticeResultMap">
		<id column="PK_AUTO_ID" property="pkAutoId" jdbcType="INTEGER" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="RELEASE_DATE" property="releaseDate" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<resultMap type="cn.sh.ideal.model.AgentWorkPaper" id="AgentResultMap">
		<id column="AGENT_WORKPAPER_ID" property="agentPaperId" jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 根据工号查询用户信息 -->  
	<select id="queryUserByWork" parameterType="cn.sh.ideal.model.UserInfo"
		resultMap="BaseResultMap">
		select t.USER_ID,t.USER_NAME,t.WORK_ID,t.PASSWD from
		t_sys_user
		t where t.WORK_ID=#{workId} and t.ENABLED='1'
	</select>

	<!-- 查询待处理的反馈单 显示5条   by agentuser -->
	<select id="queryAgentWorkpaperByAgentUser" resultMap="AgentResultMap">
		select taw.AGENT_WORKPAPER_ID
		    from t_agent_workpaper taw
		 	where 1 = 1
		   and taw.DEAL_STATE = '1'
		   <if test="userId != null and userId != ''">
				and taw.AGENT_USERID in
		       (select USER_ID
		          from t_sys_user u
		         where u.pid = #{userId})
		   </if>
		 order by taw.AGENT_WORKPAPER_ID desc limit 0, 5;
	</select>

	<!-- 查询待处理的反馈单 显示5条  by qcuser -->
	<select id="queryAgentWorkpaperByQcUser" resultMap="AgentResultMap">
		select taw.AGENT_WORKPAPER_ID
		    from t_agent_workpaper taw
		 	where 1 = 1
		   and taw.DEAL_STATE = '5'
		   <if test="userId != null and userId != ''">
				and taw.QC_USER_ID = #{userId}
		   </if>
		 order by taw.AGENT_WORKPAPER_ID desc limit 0, 5;
	</select>
     
     <!-- 查询待处理的反馈单 显示5条  by banzhang -->
	<select id="queryAgentWorkpaperByBZ" resultMap="AgentResultMap">
		select taw.AGENT_WORKPAPER_ID
		    from t_agent_workpaper taw
		 	where 1 = 1
		   and taw.DEAL_STATE = '3'
		 order by taw.AGENT_WORKPAPER_ID desc limit 0, 5;
	</select>
     
     
     

	<!-- 查询 公告列表 显示5条 -->
	<select id="queryNotice" resultMap="NoticeResultMap">
          SELECT t.PK_AUTO_ID,t.TITLE,date_format(t.RELEASE_DATE,'%Y-%m-%d') as RELEASE_DATE FROM t_notice t where t.status='已发布' and t.enabled='1' and date_format(now(),'%Y-%m-%d')&gt;=date_format(t.RELEASE_DATE,'%Y-%m-%d') order by t.RELEASE_DATE desc limit 0,5;
	</select>
	
</mapper>