<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.ItExampaperQuestionsDao">
  <resultMap id="BaseResultMap" type="cn.sh.ideal.model.tExampaperQuestions">
    <id column="PK_AUTO_ID" jdbcType="INTEGER" property="pkAutoId" />
    <result column="FK_EXAMPAPER_ID" jdbcType="INTEGER" property="fkExampaperId" />
    <result column="FK_QUESTIONS_ID" jdbcType="INTEGER" property="fkQuestionsId" />
    <result column="QUES_SCORE" jdbcType="INTEGER" property="quesScore" />
    <result column="FK_INSERT_USER_ID" jdbcType="INTEGER" property="fkInsertUserId" />
    <result column="INSERT_TIME" jdbcType="VARCHAR" property="insertTime" />
    <result column="FK_UPDATE_USER_ID" jdbcType="INTEGER" property="fkUpdateUserId" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="EXAMPAPER_FLAG" jdbcType="VARCHAR" property="exampaperFlag" />
    <result column="FK_USER_ID" jdbcType="INTEGER" property="fkUserId" />
    <result column="FK_EXAM_ID" jdbcType="INTEGER" property="fkExamId" />
    <result column="ZUHU_ID" jdbcType="INTEGER" property="zuhuId" />
    <result column="ENABLED" jdbcType="VARCHAR" property="enabled" />
  </resultMap>
  <sql id="Base_Column_List">
    PK_AUTO_ID, FK_EXAMPAPER_ID, FK_QUESTIONS_ID, QUES_SCORE, FK_INSERT_USER_ID, INSERT_TIME, 
    FK_UPDATE_USER_ID, UPDATE_TIME, EXAMPAPER_FLAG, FK_USER_ID, FK_EXAM_ID, ZUHU_ID, 
    ENABLED
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_exampaper_questions
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_exampaper_questions
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sh.ideal.model.tExampaperQuestions">
    insert into t_exampaper_questions (FK_EXAMPAPER_ID,FK_QUESTIONS_ID, 
      QUES_SCORE, FK_INSERT_USER_ID, INSERT_TIME, 
      EXAMPAPER_FLAG, 
      FK_USER_ID, FK_EXAM_ID, ZUHU_ID)
    values (#{fkExampaperId,jdbcType=INTEGER}, #{fkQuestionsId,jdbcType=INTEGER}, 
      #{quesScore,jdbcType=INTEGER}, #{fkInsertUserId,jdbcType=INTEGER},now(), 
      #{exampaperFlag,jdbcType=VARCHAR}, 
      #{fkUserId,jdbcType=INTEGER}, #{fkExamId,jdbcType=INTEGER},'1')
  </insert>
  <insert id="insertSelective" parameterType="cn.sh.ideal.model.tExampaperQuestions">
    insert into t_exampaper_questions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      
      <if test="fkExampaperId != null">
        FK_EXAMPAPER_ID,
      </if>
      <if test="fkQuestionsId != null">
        FK_QUESTIONS_ID,
      </if>
      <if test="quesScore != null">
        QUES_SCORE,
      </if>
      <if test="fkInsertUserId != null">
        FK_INSERT_USER_ID,
      </if>
      <if test="insertTime != null">
        INSERT_TIME,
      </if>
      <if test="fkUpdateUserId != null">
        FK_UPDATE_USER_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="exampaperFlag != null">
        EXAMPAPER_FLAG,
      </if>
      <if test="fkUserId != null">
        FK_USER_ID,
      </if>
      <if test="fkExamId != null">
        FK_EXAM_ID,
      </if>
      <if test="zuhuId != null">
        ZUHU_ID,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkExampaperId != null">
        #{fkExampaperId,jdbcType=INTEGER},
      </if>
      <if test="fkQuestionsId != null">
        #{fkQuestionsId,jdbcType=INTEGER},
      </if>
      <if test="quesScore != null">
        #{quesScore,jdbcType=INTEGER},
      </if>
      <if test="fkInsertUserId != null">
        #{fkInsertUserId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkUpdateUserId != null">
        #{fkUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exampaperFlag != null">
        #{exampaperFlag,jdbcType=VARCHAR},
      </if>
      <if test="fkUserId != null">
        #{fkUserId,jdbcType=INTEGER},
      </if>
      <if test="fkExamId != null">
        #{fkExamId,jdbcType=INTEGER},
      </if>
      <if test="zuhuId != null">
        #{zuhuId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sh.ideal.model.tExampaperQuestions">
    update t_exampaper_questions
    <set>
      <if test="fkExampaperId != null">
        FK_EXAMPAPER_ID = #{fkExampaperId,jdbcType=INTEGER},
      </if>
      <if test="fkQuestionsId != null">
        FK_QUESTIONS_ID = #{fkQuestionsId,jdbcType=INTEGER},
      </if>
      <if test="quesScore != null">
        QUES_SCORE = #{quesScore,jdbcType=INTEGER},
      </if>
      <if test="fkInsertUserId != null">
        FK_INSERT_USER_ID = #{fkInsertUserId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkUpdateUserId != null">
        FK_UPDATE_USER_ID = #{fkUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exampaperFlag != null">
        EXAMPAPER_FLAG = #{exampaperFlag,jdbcType=VARCHAR},
      </if>
      <if test="fkUserId != null">
        FK_USER_ID = #{fkUserId,jdbcType=INTEGER},
      </if>
      <if test="fkExamId != null">
        FK_EXAM_ID = #{fkExamId,jdbcType=INTEGER},
      </if>
      <if test="zuhuId != null">
        ZUHU_ID = #{zuhuId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=VARCHAR},
      </if>
    </set>
    where FK_EXAMPAPER_ID = #{pkAutoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sh.ideal.model.tExampaperQuestions">
    update t_exampaper_questions
    set FK_EXAMPAPER_ID = #{fkExampaperId,jdbcType=INTEGER},
      FK_QUESTIONS_ID = #{fkQuestionsId,jdbcType=INTEGER},
      QUES_SCORE = #{quesScore,jdbcType=INTEGER},
      FK_INSERT_USER_ID = #{fkInsertUserId,jdbcType=INTEGER},
      INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      FK_UPDATE_USER_ID = #{fkUpdateUserId,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      EXAMPAPER_FLAG = #{exampaperFlag,jdbcType=VARCHAR},
      FK_USER_ID = #{fkUserId,jdbcType=INTEGER},
      FK_EXAM_ID = #{fkExamId,jdbcType=INTEGER},
      ZUHU_ID = #{zuhuId,jdbcType=INTEGER},
      ENABLED = #{enabled,jdbcType=VARCHAR}
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </update>
  
  
  <delete id="deleteByUserExamId" parameterType="cn.sh.ideal.model.tExampaperQuestions">
    delete from t_exampaper_questions 
    where fk_user_id = #{fkUserId,jdbcType=INTEGER}  
	and fk_exam_id = #{fkExamId,jdbcType=INTEGER}  
	and zuhu_id = #{zuhuId,jdbcType=INTEGER}  
  </delete>
  
</mapper>