<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.tExampaperMapper">
  <resultMap id="BaseResultMap" type="cn.sh.ideal.model.tExampaper">
    <id column="PK_AUTO_ID" jdbcType="INTEGER" property="pkAutoId" />
    <result column="EXAM_PAPER_NAME" jdbcType="VARCHAR" property="examPaperName" />
    <result column="EXAM_PAPER_SCORE" jdbcType="INTEGER" property="examPaperScore" />
    <result column="EXAM_PAPER_REMARK" jdbcType="VARCHAR" property="examPaperRemark" />
    <result column="EXAM_PAPER_STATUS" jdbcType="VARCHAR" property="examPaperStatus" />
    <result column="EXAM_PAPER_PASS_RATE" jdbcType="VARCHAR" property="examPaperPassRate" />
    <result column="EXAM_PAPER_AVG_SCORE" jdbcType="VARCHAR" property="examPaperAvgScore" />
    <result column="ISINDEX" jdbcType="VARCHAR" property="isindex" />
    <result column="EXAM_PAPER_FLAG" jdbcType="VARCHAR" property="examPaperFlag" />
    <result column="EXAM_PAPER_TYPE" jdbcType="VARCHAR" property="examPaperType" />
    <result column="FK_INSERT_USER_ID" jdbcType="INTEGER" property="fkInsertUserId" />
    <result column="INSERT_TIME" jdbcType="VARCHAR" property="insertTime" />
    <result column="ZUHU_ID" jdbcType="INTEGER" property="zuhuId" />
  </resultMap>
  <sql id="Base_Column_List">
    PK_AUTO_ID, EXAM_PAPER_NAME, EXAM_PAPER_SCORE, EXAM_PAPER_REMARK, EXAM_PAPER_STATUS, 
    EXAM_PAPER_PASS_RATE, EXAM_PAPER_AVG_SCORE, ISINDEX, EXAM_PAPER_FLAG, EXAM_PAPER_TYPE, 
    FK_INSERT_USER_ID, INSERT_TIME, ZUHU_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "t_exampaper"
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from "t_exampaper"
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sh.ideal.model.tExampaper">
    insert into "t_exampaper" (PK_AUTO_ID, EXAM_PAPER_NAME, EXAM_PAPER_SCORE, 
      EXAM_PAPER_REMARK, EXAM_PAPER_STATUS, EXAM_PAPER_PASS_RATE, 
      EXAM_PAPER_AVG_SCORE, ISINDEX, EXAM_PAPER_FLAG, 
      EXAM_PAPER_TYPE, FK_INSERT_USER_ID, INSERT_TIME, 
      ZUHU_ID)
    values (#{pkAutoId,jdbcType=INTEGER}, #{examPaperName,jdbcType=VARCHAR}, #{examPaperScore,jdbcType=INTEGER}, 
      #{examPaperRemark,jdbcType=VARCHAR}, #{examPaperStatus,jdbcType=VARCHAR}, #{examPaperPassRate,jdbcType=VARCHAR}, 
      #{examPaperAvgScore,jdbcType=VARCHAR}, #{isindex,jdbcType=VARCHAR}, #{examPaperFlag,jdbcType=VARCHAR}, 
      #{examPaperType,jdbcType=VARCHAR}, #{fkInsertUserId,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{zuhuId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.sh.ideal.model.tExampaper">
    insert into "t_exampaper"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkAutoId != null">
        PK_AUTO_ID,
      </if>
      <if test="examPaperName != null">
        EXAM_PAPER_NAME,
      </if>
      <if test="examPaperScore != null">
        EXAM_PAPER_SCORE,
      </if>
      <if test="examPaperRemark != null">
        EXAM_PAPER_REMARK,
      </if>
      <if test="examPaperStatus != null">
        EXAM_PAPER_STATUS,
      </if>
      <if test="examPaperPassRate != null">
        EXAM_PAPER_PASS_RATE,
      </if>
      <if test="examPaperAvgScore != null">
        EXAM_PAPER_AVG_SCORE,
      </if>
      <if test="isindex != null">
        ISINDEX,
      </if>
      <if test="examPaperFlag != null">
        EXAM_PAPER_FLAG,
      </if>
      <if test="examPaperType != null">
        EXAM_PAPER_TYPE,
      </if>
      <if test="fkInsertUserId != null">
        FK_INSERT_USER_ID,
      </if>
      <if test="insertTime != null">
        INSERT_TIME,
      </if>
      <if test="zuhuId != null">
        ZUHU_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkAutoId != null">
        #{pkAutoId,jdbcType=INTEGER},
      </if>
      <if test="examPaperName != null">
        #{examPaperName,jdbcType=VARCHAR},
      </if>
      <if test="examPaperScore != null">
        #{examPaperScore,jdbcType=INTEGER},
      </if>
      <if test="examPaperRemark != null">
        #{examPaperRemark,jdbcType=VARCHAR},
      </if>
      <if test="examPaperStatus != null">
        #{examPaperStatus,jdbcType=VARCHAR},
      </if>
      <if test="examPaperPassRate != null">
        #{examPaperPassRate,jdbcType=VARCHAR},
      </if>
      <if test="examPaperAvgScore != null">
        #{examPaperAvgScore,jdbcType=VARCHAR},
      </if>
      <if test="isindex != null">
        #{isindex,jdbcType=VARCHAR},
      </if>
      <if test="examPaperFlag != null">
        #{examPaperFlag,jdbcType=VARCHAR},
      </if>
      <if test="examPaperType != null">
        #{examPaperType,jdbcType=VARCHAR},
      </if>
      <if test="fkInsertUserId != null">
        #{fkInsertUserId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zuhuId != null">
        #{zuhuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sh.ideal.model.tExampaper">
    update "t_exampaper"
    <set>
      <if test="examPaperName != null">
        EXAM_PAPER_NAME = #{examPaperName,jdbcType=VARCHAR},
      </if>
      <if test="examPaperScore != null">
        EXAM_PAPER_SCORE = #{examPaperScore,jdbcType=INTEGER},
      </if>
      <if test="examPaperRemark != null">
        EXAM_PAPER_REMARK = #{examPaperRemark,jdbcType=VARCHAR},
      </if>
      <if test="examPaperStatus != null">
        EXAM_PAPER_STATUS = #{examPaperStatus,jdbcType=VARCHAR},
      </if>
      <if test="examPaperPassRate != null">
        EXAM_PAPER_PASS_RATE = #{examPaperPassRate,jdbcType=VARCHAR},
      </if>
      <if test="examPaperAvgScore != null">
        EXAM_PAPER_AVG_SCORE = #{examPaperAvgScore,jdbcType=VARCHAR},
      </if>
      <if test="isindex != null">
        ISINDEX = #{isindex,jdbcType=VARCHAR},
      </if>
      <if test="examPaperFlag != null">
        EXAM_PAPER_FLAG = #{examPaperFlag,jdbcType=VARCHAR},
      </if>
      <if test="examPaperType != null">
        EXAM_PAPER_TYPE = #{examPaperType,jdbcType=VARCHAR},
      </if>
      <if test="fkInsertUserId != null">
        FK_INSERT_USER_ID = #{fkInsertUserId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zuhuId != null">
        ZUHU_ID = #{zuhuId,jdbcType=INTEGER},
      </if>
    </set>
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sh.ideal.model.tExampaper">
    update "t_exampaper"
    set EXAM_PAPER_NAME = #{examPaperName,jdbcType=VARCHAR},
      EXAM_PAPER_SCORE = #{examPaperScore,jdbcType=INTEGER},
      EXAM_PAPER_REMARK = #{examPaperRemark,jdbcType=VARCHAR},
      EXAM_PAPER_STATUS = #{examPaperStatus,jdbcType=VARCHAR},
      EXAM_PAPER_PASS_RATE = #{examPaperPassRate,jdbcType=VARCHAR},
      EXAM_PAPER_AVG_SCORE = #{examPaperAvgScore,jdbcType=VARCHAR},
      ISINDEX = #{isindex,jdbcType=VARCHAR},
      EXAM_PAPER_FLAG = #{examPaperFlag,jdbcType=VARCHAR},
      EXAM_PAPER_TYPE = #{examPaperType,jdbcType=VARCHAR},
      FK_INSERT_USER_ID = #{fkInsertUserId,jdbcType=INTEGER},
      INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      ZUHU_ID = #{zuhuId,jdbcType=INTEGER}
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </update>
</mapper>