<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.tExamMapper">
  <resultMap id="BaseResultMap" type="cn.sh.ideal.model.tExam">
    <id column="PK_AUTO_ID" jdbcType="INTEGER" property="pkAutoId" />
    <result column="EXAM_NAME" jdbcType="VARCHAR" property="examName" />
    <result column="EXAM_BEGIN_TIME" jdbcType="VARCHAR" property="examBeginTime" />
    <result column="EXAM_END_TIME" jdbcType="VARCHAR" property="examEndTime" />
    <result column="EXAM_TIME_LENGTH" jdbcType="INTEGER" property="examTimeLength" />
    <result column="EXAM_NORMAL_SCORE" jdbcType="INTEGER" property="examNormalScore" />
    <result column="EXAM_QUERY" jdbcType="VARCHAR" property="examQuery" />
    <result column="EXAM_STATUS" jdbcType="VARCHAR" property="examStatus" />
    <result column="FK_EXAMTYPE_ID" jdbcType="VARCHAR" property="fkExamtypeId" />
    <result column="FK_EXAMTARGET_ID" jdbcType="VARCHAR" property="fkExamtargetId" />
    <result column="FK_INSERT_USER_ID" jdbcType="INTEGER" property="fkInsertUserId" />
    <result column="INSERT_TIME" jdbcType="VARCHAR" property="insertTime" />
    <result column="FK_UPDATE_USER_ID" jdbcType="INTEGER" property="fkUpdateUserId" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="ZUHU_ID" jdbcType="INTEGER" property="zuhuId" />
  </resultMap>
  <sql id="Base_Column_List">
    PK_AUTO_ID, EXAM_NAME, EXAM_BEGIN_TIME, EXAM_END_TIME, EXAM_TIME_LENGTH, EXAM_NORMAL_SCORE, 
    EXAM_QUERY, EXAM_STATUS, FK_EXAMTYPE_ID, FK_EXAMTARGET_ID, FK_INSERT_USER_ID, INSERT_TIME, 
    FK_UPDATE_USER_ID, UPDATE_TIME, ZUHU_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_exam
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_exam
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sh.ideal.model.tExam">
    insert into t_exam (PK_AUTO_ID, EXAM_NAME, EXAM_BEGIN_TIME, 
      EXAM_END_TIME, EXAM_TIME_LENGTH, EXAM_NORMAL_SCORE, 
      EXAM_QUERY, EXAM_STATUS, FK_EXAMTYPE_ID, 
      FK_EXAMTARGET_ID, FK_INSERT_USER_ID, INSERT_TIME, 
      FK_UPDATE_USER_ID, UPDATE_TIME, ZUHU_ID
      )
    values (#{pkAutoId,jdbcType=INTEGER}, #{examName,jdbcType=VARCHAR}, #{examBeginTime,jdbcType=TIMESTAMP}, 
      #{examEndTime,jdbcType=TIMESTAMP}, #{examTimeLength,jdbcType=INTEGER}, #{examNormalScore,jdbcType=INTEGER}, 
      #{examQuery,jdbcType=VARCHAR}, #{examStatus,jdbcType=VARCHAR}, #{fkExamtypeId,jdbcType=VARCHAR}, 
      #{fkExamtargetId,jdbcType=VARCHAR}, #{fkInsertUserId,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{fkUpdateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{zuhuId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.sh.ideal.model.tExam">
    insert into t_exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkAutoId != null">
        PK_AUTO_ID,
      </if>
      <if test="examName != null">
        EXAM_NAME,
      </if>
      <if test="examBeginTime != null">
        EXAM_BEGIN_TIME,
      </if>
      <if test="examEndTime != null">
        EXAM_END_TIME,
      </if>
      <if test="examTimeLength != null">
        EXAM_TIME_LENGTH,
      </if>
      <if test="examNormalScore != null">
        EXAM_NORMAL_SCORE,
      </if>
      <if test="examQuery != null">
        EXAM_QUERY,
      </if>
      <if test="examStatus != null">
        EXAM_STATUS,
      </if>
      <if test="fkExamtypeId != null">
        FK_EXAMTYPE_ID,
      </if>
      <if test="fkExamtargetId != null">
        FK_EXAMTARGET_ID,
      </if>
      <if test="fkInsertUserId != null">
        FK_INSERT_USER_ID,
      </if>
      <if test="insertTime != null">
        INSERT_TIME,
      </if>
      <if test="fkUpdateUserId != null">
        FK_UPDATE_USER_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="zuhuId != null">
        ZUHU_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkAutoId != null">
        #{pkAutoId,jdbcType=INTEGER},
      </if>
      <if test="examName != null">
        #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examBeginTime != null">
        #{examBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examEndTime != null">
        #{examEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examTimeLength != null">
        #{examTimeLength,jdbcType=INTEGER},
      </if>
      <if test="examNormalScore != null">
        #{examNormalScore,jdbcType=INTEGER},
      </if>
      <if test="examQuery != null">
        #{examQuery,jdbcType=VARCHAR},
      </if>
      <if test="examStatus != null">
        #{examStatus,jdbcType=VARCHAR},
      </if>
      <if test="fkExamtypeId != null">
        #{fkExamtypeId,jdbcType=VARCHAR},
      </if>
      <if test="fkExamtargetId != null">
        #{fkExamtargetId,jdbcType=VARCHAR},
      </if>
      <if test="fkInsertUserId != null">
        #{fkInsertUserId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkUpdateUserId != null">
        #{fkUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zuhuId != null">
        #{zuhuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sh.ideal.model.tExam">
    update "t_exam"
    <set>
      <if test="examName != null">
        EXAM_NAME = #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examBeginTime != null">
        EXAM_BEGIN_TIME = #{examBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examEndTime != null">
        EXAM_END_TIME = #{examEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examTimeLength != null">
        EXAM_TIME_LENGTH = #{examTimeLength,jdbcType=INTEGER},
      </if>
      <if test="examNormalScore != null">
        EXAM_NORMAL_SCORE = #{examNormalScore,jdbcType=INTEGER},
      </if>
      <if test="examQuery != null">
        EXAM_QUERY = #{examQuery,jdbcType=VARCHAR},
      </if>
      <if test="examStatus != null">
        EXAM_STATUS = #{examStatus,jdbcType=VARCHAR},
      </if>
      <if test="fkExamtypeId != null">
        FK_EXAMTYPE_ID = #{fkExamtypeId,jdbcType=VARCHAR},
      </if>
      <if test="fkExamtargetId != null">
        FK_EXAMTARGET_ID = #{fkExamtargetId,jdbcType=VARCHAR},
      </if>
      <if test="fkInsertUserId != null">
        FK_INSERT_USER_ID = #{fkInsertUserId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkUpdateUserId != null">
        FK_UPDATE_USER_ID = #{fkUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zuhuId != null">
        ZUHU_ID = #{zuhuId,jdbcType=INTEGER},
      </if>
    </set>
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sh.ideal.model.tExam">
    update t_exam
    set EXAM_NAME = #{examName,jdbcType=VARCHAR},
      EXAM_BEGIN_TIME = #{examBeginTime,jdbcType=TIMESTAMP},
      EXAM_END_TIME = #{examEndTime,jdbcType=TIMESTAMP},
      EXAM_TIME_LENGTH = #{examTimeLength,jdbcType=INTEGER},
      EXAM_NORMAL_SCORE = #{examNormalScore,jdbcType=INTEGER},
      EXAM_QUERY = #{examQuery,jdbcType=VARCHAR},
      EXAM_STATUS = #{examStatus,jdbcType=VARCHAR},
      FK_EXAMTYPE_ID = #{fkExamtypeId,jdbcType=VARCHAR},
      FK_EXAMTARGET_ID = #{fkExamtargetId,jdbcType=VARCHAR},
      FK_INSERT_USER_ID = #{fkInsertUserId,jdbcType=INTEGER},
      INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      FK_UPDATE_USER_ID = #{fkUpdateUserId,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      ZUHU_ID = #{zuhuId,jdbcType=INTEGER}
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </update>
</mapper>