<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.tQuestionsMapper">
  <resultMap id="BaseResultMap" type="cn.sh.ideal.model.tQuestions">
    <id column="PK_AUTO_ID" jdbcType="INTEGER" property="pkAutoId" />
    <result column="QUES_CONTENT" jdbcType="VARCHAR" property="quesContent" />
    <result column="QUES_SCORE" jdbcType="INTEGER" property="quesScore" />
    <result column="QUES_TYPE" jdbcType="INTEGER" property="quesType" />
    <result column="QUES_PICK" jdbcType="VARCHAR" property="quesPick" />
    <result column="QUES_ANSWER" jdbcType="VARCHAR" property="quesAnswer" />
    <result column="QUES_CORRECT_ANSWER" jdbcType="VARCHAR" property="quesCorrectAnswer" />
    <result column="FK_CODETYPE_ID" jdbcType="INTEGER" property="fkCodetypeId" />
    <result column="QUES_STATUS" jdbcType="VARCHAR" property="quesStatus" />
    <result column="QUES_ERROR_NUM" jdbcType="INTEGER" property="quesErrorNum" />
    <result column="QUES_NANDU" jdbcType="VARCHAR" property="quesNandu" />
    <result column="FK_INSERT_USER_ID" jdbcType="INTEGER" property="fkInsertUserId" />
    <result column="INSERT_TIME" jdbcType="VARCHAR" property="insertTime" />
    <result column="FK_UPDATE_USER_ID" jdbcType="INTEGER" property="fkUpdateUserId" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="ZUHU_ID" jdbcType="INTEGER" property="zuhuId" />
  </resultMap>
  <sql id="Base_Column_List">
    PK_AUTO_ID, QUES_CONTENT, QUES_SCORE, QUES_TYPE, QUES_PICK, QUES_ANSWER, QUES_CORRECT_ANSWER, 
    FK_CODETYPE_ID, QUES_STATUS, QUES_ERROR_NUM, QUES_NANDU, FK_INSERT_USER_ID, INSERT_TIME, 
    FK_UPDATE_USER_ID, UPDATE_TIME, ZUHU_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_questions
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_questions
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sh.ideal.model.tQuestions">
    insert into t_questions (PK_AUTO_ID, QUES_CONTENT, QUES_SCORE, 
      QUES_TYPE, QUES_PICK, QUES_ANSWER, 
      QUES_CORRECT_ANSWER, FK_CODETYPE_ID, QUES_STATUS, 
      QUES_ERROR_NUM, QUES_NANDU, FK_INSERT_USER_ID, 
      INSERT_TIME, FK_UPDATE_USER_ID, UPDATE_TIME, 
      ZUHU_ID)
    values (#{pkAutoId,jdbcType=INTEGER}, #{quesContent,jdbcType=VARCHAR}, #{quesScore,jdbcType=INTEGER}, 
      #{quesType,jdbcType=INTEGER}, #{quesPick,jdbcType=VARCHAR}, #{quesAnswer,jdbcType=VARCHAR}, 
      #{quesCorrectAnswer,jdbcType=VARCHAR}, #{fkCodetypeId,jdbcType=INTEGER}, #{quesStatus,jdbcType=VARCHAR}, 
      #{quesErrorNum,jdbcType=INTEGER}, #{quesNandu,jdbcType=VARCHAR}, #{fkInsertUserId,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{fkUpdateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{zuhuId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.sh.ideal.model.tQuestions">
    insert into t_questions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkAutoId != null">
        PK_AUTO_ID,
      </if>
      <if test="quesContent != null">
        QUES_CONTENT,
      </if>
      <if test="quesScore != null">
        QUES_SCORE,
      </if>
      <if test="quesType != null">
        QUES_TYPE,
      </if>
      <if test="quesPick != null">
        QUES_PICK,
      </if>
      <if test="quesAnswer != null">
        QUES_ANSWER,
      </if>
      <if test="quesCorrectAnswer != null">
        QUES_CORRECT_ANSWER,
      </if>
      <if test="fkCodetypeId != null">
        FK_CODETYPE_ID,
      </if>
      <if test="quesStatus != null">
        QUES_STATUS,
      </if>
      <if test="quesErrorNum != null">
        QUES_ERROR_NUM,
      </if>
      <if test="quesNandu != null">
        QUES_NANDU,
      </if>
      <if test="fkInsertUserId != null">
        FK_INSERT_USER_ID,
      </if>
      <if test="insertTime != null">
        INSERT_TIME,
      </if>
      <if test="fkUpdateUserId != null">
        FK_UPDATE_USER_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="zuhuId != null">
        ZUHU_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkAutoId != null">
        #{pkAutoId,jdbcType=INTEGER},
      </if>
      <if test="quesContent != null">
        #{quesContent,jdbcType=VARCHAR},
      </if>
      <if test="quesScore != null">
        #{quesScore,jdbcType=INTEGER},
      </if>
      <if test="quesType != null">
        #{quesType,jdbcType=INTEGER},
      </if>
      <if test="quesPick != null">
        #{quesPick,jdbcType=VARCHAR},
      </if>
      <if test="quesAnswer != null">
        #{quesAnswer,jdbcType=VARCHAR},
      </if>
      <if test="quesCorrectAnswer != null">
        #{quesCorrectAnswer,jdbcType=VARCHAR},
      </if>
      <if test="fkCodetypeId != null">
        #{fkCodetypeId,jdbcType=INTEGER},
      </if>
      <if test="quesStatus != null">
        #{quesStatus,jdbcType=VARCHAR},
      </if>
      <if test="quesErrorNum != null">
        #{quesErrorNum,jdbcType=INTEGER},
      </if>
      <if test="quesNandu != null">
        #{quesNandu,jdbcType=VARCHAR},
      </if>
      <if test="fkInsertUserId != null">
        #{fkInsertUserId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkUpdateUserId != null">
        #{fkUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zuhuId != null">
        #{zuhuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sh.ideal.model.tQuestions">
    update t_questions
    <set>
      <if test="quesContent != null">
        QUES_CONTENT = #{quesContent,jdbcType=VARCHAR},
      </if>
      <if test="quesScore != null">
        QUES_SCORE = #{quesScore,jdbcType=INTEGER},
      </if>
      <if test="quesType != null">
        QUES_TYPE = #{quesType,jdbcType=INTEGER},
      </if>
      <if test="quesPick != null">
        QUES_PICK = #{quesPick,jdbcType=VARCHAR},
      </if>
      <if test="quesAnswer != null">
        QUES_ANSWER = #{quesAnswer,jdbcType=VARCHAR},
      </if>
      <if test="quesCorrectAnswer != null">
        QUES_CORRECT_ANSWER = #{quesCorrectAnswer,jdbcType=VARCHAR},
      </if>
      <if test="fkCodetypeId != null">
        FK_CODETYPE_ID = #{fkCodetypeId,jdbcType=INTEGER},
      </if>
      <if test="quesStatus != null">
        QUES_STATUS = #{quesStatus,jdbcType=VARCHAR},
      </if>
      <if test="quesErrorNum != null">
        QUES_ERROR_NUM = #{quesErrorNum,jdbcType=INTEGER},
      </if>
      <if test="quesNandu != null">
        QUES_NANDU = #{quesNandu,jdbcType=VARCHAR},
      </if>
      <if test="fkInsertUserId != null">
        FK_INSERT_USER_ID = #{fkInsertUserId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkUpdateUserId != null">
        FK_UPDATE_USER_ID = #{fkUpdateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="zuhuId != null">
        ZUHU_ID = #{zuhuId,jdbcType=INTEGER},
      </if>
    </set>
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sh.ideal.model.tQuestions">
    update t_questions
    set QUES_CONTENT = #{quesContent,jdbcType=VARCHAR},
      QUES_SCORE = #{quesScore,jdbcType=INTEGER},
      QUES_TYPE = #{quesType,jdbcType=INTEGER},
      QUES_PICK = #{quesPick,jdbcType=VARCHAR},
      QUES_ANSWER = #{quesAnswer,jdbcType=VARCHAR},
      QUES_CORRECT_ANSWER = #{quesCorrectAnswer,jdbcType=VARCHAR},
      FK_CODETYPE_ID = #{fkCodetypeId,jdbcType=INTEGER},
      QUES_STATUS = #{quesStatus,jdbcType=VARCHAR},
      QUES_ERROR_NUM = #{quesErrorNum,jdbcType=INTEGER},
      QUES_NANDU = #{quesNandu,jdbcType=VARCHAR},
      FK_INSERT_USER_ID = #{fkInsertUserId,jdbcType=INTEGER},
      INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      FK_UPDATE_USER_ID = #{fkUpdateUserId,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      ZUHU_ID = #{zuhuId,jdbcType=INTEGER}
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </update>
</mapper>