<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sh.ideal.dao.tSysCodeMapper">
  <resultMap id="BaseResultMap" type="cn.sh.ideal.model.tSysCode">
    <id column="PK_AUTO_ID" jdbcType="INTEGER" property="pkAutoId" />
    <result column="ITEM_FLAG" jdbcType="VARCHAR" property="itemFlag" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="PID" jdbcType="INTEGER" property="pid" />
    <result column="CODE_ORDER" jdbcType="INTEGER" property="codeOrder" />
    <result column="IS_DISPLAY" jdbcType="VARCHAR" property="isDisplay" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ENABLED" jdbcType="VARCHAR" property="enabled" />
    <result column="ZUHU_ID" jdbcType="INTEGER" property="zuhuId" />
  </resultMap>
  <sql id="Base_Column_List">
    PK_AUTO_ID, ITEM_FLAG, NAME, VALUE, PID, CODE_ORDER, IS_DISPLAY, REMARK, ENABLED, 
    ZUHU_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_code
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_code
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sh.ideal.model.tSysCode">
    insert into t_sys_code (PK_AUTO_ID, ITEM_FLAG, NAME, 
      VALUE, PID, CODE_ORDER, 
      IS_DISPLAY, REMARK, ENABLED, 
      ZUHU_ID)
    values (#{pkAutoId,jdbcType=INTEGER}, #{itemFlag,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, #{codeOrder,jdbcType=INTEGER}, 
      #{isDisplay,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{enabled,jdbcType=VARCHAR}, 
      #{zuhuId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.sh.ideal.model.tSysCode">
    insert into t_sys_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkAutoId != null">
        PK_AUTO_ID,
      </if>
      <if test="itemFlag != null">
        ITEM_FLAG,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="value != null">
        VALUE,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="codeOrder != null">
        CODE_ORDER,
      </if>
      <if test="isDisplay != null">
        IS_DISPLAY,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="zuhuId != null">
        ZUHU_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkAutoId != null">
        #{pkAutoId,jdbcType=INTEGER},
      </if>
      <if test="itemFlag != null">
        #{itemFlag,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="codeOrder != null">
        #{codeOrder,jdbcType=INTEGER},
      </if>
      <if test="isDisplay != null">
        #{isDisplay,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="zuhuId != null">
        #{zuhuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sh.ideal.model.tSysCode">
    update t_sys_code
    <set>
      <if test="itemFlag != null">
        ITEM_FLAG = #{itemFlag,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        VALUE = #{value,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=INTEGER},
      </if>
      <if test="codeOrder != null">
        CODE_ORDER = #{codeOrder,jdbcType=INTEGER},
      </if>
      <if test="isDisplay != null">
        IS_DISPLAY = #{isDisplay,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=VARCHAR},
      </if>
      <if test="zuhuId != null">
        ZUHU_ID = #{zuhuId,jdbcType=INTEGER},
      </if>
    </set>
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sh.ideal.model.tSysCode">
    update t_sys_code
    set ITEM_FLAG = #{itemFlag,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      VALUE = #{value,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=INTEGER},
      CODE_ORDER = #{codeOrder,jdbcType=INTEGER},
      IS_DISPLAY = #{isDisplay,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=VARCHAR},
      ZUHU_ID = #{zuhuId,jdbcType=INTEGER}
    where PK_AUTO_ID = #{pkAutoId,jdbcType=INTEGER}
  </update>
</mapper>